<footer class="fixed h-20 bg-white w-full bottom-0 flex items-center justify-center border-black border-solid border-2">
    <div class="sm:w-1/4 h-auto">
        <div class="bg-black @Visible">
            <p id="errorMessage" class="text-white">@Error</p>
        </div>
    </div>
    <div class="sm:w-2/4 h-auto">
        <button id="tocity" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" @onclick="OnClick">
            Envia el camió a la ciutat
        </button>
    </div>
    <div class="sm:w-1/4 h-auto ml-4">
        <p id="litres">Llet: <span id="litres">@Litres.ToString("0.##")</span> litres</p>
        <p>Viatges: <span id="viatges">@Viatges</span></p>
        <p>Benefici: <span id="Money">@Money.ToString("0.##")</span> €</p>
    </div>
</footer>

@code {


    public const double preu = 1.1;
    public double Money => Litres * preu;

    [Parameter]
    public int Viatges { get; set; }

    [Parameter]
    public double Litres { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }

    [Parameter]
    public string Error { get; set; } = "";

    public String Visible => string.IsNullOrEmpty(Error) ? "invisible" : "visible";
}
